@use "sass:color";

$navbar-bg-color: #ffffff;
$navbar-text-color: #ffffff;

.navbar {
  background-color: $navbar-bg-color;

  .navbar-brand {
    color: $navbar-text-color;
    &:hover {
      color: color.adjust($navbar-text-color, $lightness: 10%);
    }
  }

  .nav-link {
    color: $navbar-text-color;
    font-size: .08rem;
    &:hover {
      color: color.adjust($navbar-text-color, $lightness: 10%);
    }
  }
}